extends layout

block content
  if character_list
    div(class='img-container')
      div(class='thumbnail')
        p Characters
        a(href=character.url) #{character.character_list}
  else
    div(class='img-container')
      div(class='thumbnail')
        p Characters
        p There are no characters.
